<?php

declare(strict_types=1);

use Magento\Framework\Escaper;
use Reeds\GunBroker\Block\Adminhtml\Order\View\Item\GunBrokerOrderItemFeedback\Renderer;

/** @var Renderer $block */
/** @var Escaper $escaper */

$orderItemFeedback = $block->getOrderItemFeedback();

if ($orderItemFeedback === null):
    return;
endif;
?>
<strong><?= $escaper->escapeHtml(__('Feedback from %1 (%2):', $orderItemFeedback->getCommentator(), $orderItemFeedback->getType())) ?></strong>
<dl class="item-options">
    <dt><?= $escaper->escapeHtml(__('Rating:')) ?></dt>
    <dd><?= $escaper->escapeHtml(sprintf('%s (%d/5)', $orderItemFeedback->getRatingLetter(), $orderItemFeedback->getRatingScore())) ?></dd>
    <dt><?= $escaper->escapeHtml(__('Comment:')) ?></dt>
    <dd><?= $escaper->escapeHtml($orderItemFeedback->getComment()) ?></dd>
</dl>
