<?php

use Reeds\GunBroker\Block\Adminhtml\Order\View\GunBrokerOrder;
use Magento\Framework\Escaper;

/** @var GunBrokerOrder $block */
/** @var Escaper $escaper */

$order = $block->getOrder();
$gunBrokerOrderId = $order->getExtOrderId();

if ($gunBrokerOrderId === null):
    return;
endif;
?>
<tr>
    <th><?= $escaper->escapeHtml(__('GunBroker.com Order #')) ?></th>
    <td><a href="<?= $escaper->escapeUrl($block->getGunBrokerOrderUrl()) ?>" title="<?= $escaper->escapeHtmlAttr(__('View order on GunBroker.com')) ?>" target="_blank"><?= $escaper->escapeHtml($gunBrokerOrderId) ?></a></td>
</tr>

