<?php

use Reeds\GunBroker\Block\Adminhtml\Order\View\GunBrokerOrder;
use Magento\Framework\Escaper;

/** @var GunBrokerOrder $block */
/** @var Escaper $escaper */

$order = $block->getOrder();
$gunBrokerCustomerId = $order->getExtCustomerId();

if ($gunBrokerCustomerId === null):
    return;
endif;
?>
<tr>
    <th><?= $escaper->escapeHtml(__('GunBroker.com Customer ID')) ?></th>
    <td><?= $escaper->escapeHtml($gunBrokerCustomerId) ?></td>
</tr>

