<?php

use Magento\Framework\Escaper;
use Reeds\GunBroker\Block\Payment\Info\PaymentDate;

/** @var PaymentDate $block */
/** @var Escaper $escaper */
?>
<?= __('Paid on: %1', $block->getPaymentDate()) ?>{{pdf_row_separator}}
