<!--@subject {{trans "Item Listed on GunBroker.com Confirmation"}} @-->
<!--@vars {
"var item": "Item Data Object",
"var gunbroker_auction_url": "GunBroker.com Auction URL",
"var category_name": "Item Category Name",
"var start_date_formatted": "Listing Start Date and Time",
"var product_url": "Magento Product URL",
"layout handle=\"gunbroker_email_item_shipping_class_costs\" shipping_class_costs=$item.shippingClassCosts area=\"frontend\"": "Shipping Class Costs"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello,"}}</p>
            <p>{{trans 'A listing has successfully been created on GunBroker.com for <a href="%product_url">%item_title</a>. To <a href="%listing_url">view the listing</a>, please follow the previous link, or copy and paste the URL below into your Web browser:' product_url=$product_url listing_url=$gunbroker_auction_url item_title=$item.title |raw}}</p>
            <p><a href="{{var gunbroker_auction_url}}">{{var gunbroker_auction_url}}</a></p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Summary of Listing Details for <span class="no-link">%item_title</span>' item_title=$item.title |raw}}</h1>
            <p>{{trans 'See the <a href="%url">listing on GunBroker.com</a> for more information.' url=$gunbroker_auction_url |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="item-details email-items">
                <tr>
                    <th>{{trans "Title:"}}</th>
                    <td>{{var item.title}}</td>
                </tr>
                <tr>
                    <th>SKU:</th>
                    <td>{{var item.sku}}</td>
                </tr>
                <tr>
                    <th>{{trans "Quantity:"}}</th>
                    <td>{{var item.quantity}}</td>
                </tr>
                {{depend start_date_formatted}}
                <tr>
                    <th>{{trans "Scheduled Start Date:"}}</th>
                    <td>{{var start_date_formatted}}</td>
                </tr>
                {{/depend}}
                <tr>
                    {{if category_name}}
                    <th>{{trans "Category (Magento):"}}</th>
                    <td>{{var category_name}}</td>
                    {{else}}
                    <th>{{trans "Category ID:"}}</th>
                    <td>{{var item.categoryID}}</td>
                    {{/if}}
                </tr>
                <tr>
                    <th>{{trans "Listing Duration:"}}</th>
                    <td>{{trans "%duration days" duration=$item.listingDuration |raw}}</td>
                </tr>
                {{depend item.serialNumber}}
                <tr>
                    <th>{{trans "Serial Number:"}}</th>
                    <td>{{var item.serialNumber}}</td>
                </tr>
                {{/depend}}
                {{depend item.upc}}
                <tr>
                    <th>UPC:</th>
                    <td>{{var item.upc}}</td>
                </tr>
                {{/depend}}
                {{depend item.gtin}}
                <tr>
                    <th>GTIN:</th>
                    <td>{{var item.gtin}}</td>
                </tr>
                {{/depend}}
                <tr>
                    <th>{{trans "Auto Accept Price:"}}</th>
                    <td>{{var item.autoAcceptPrice}}</td>
                </tr>
                {{depend item.buyNowPrice}}
                <tr>
                    <th>{{trans "Buy Now Price:"}}</th>
                    <td>{{var item.buyNowPrice}}</td>
                </tr>
                {{/depend}}
                {{depend item.reservePrice}}
                <tr>
                    <th>{{trans "Reserve Price:"}}</th>
                    <td>{{var item.reservePrice}}</td>
                </tr>
                {{/depend}}
                {{depend item.fixedPrice}}
                <tr>
                    <th>{{trans "Fixed Price:"}}</th>
                    <td>{{var item.fixedPrice}}</td>
                </tr>
                {{/depend}}
                {{depend item.shippingClassCosts}}
                <tr>
                    <th>{{trans "Shipping Costs:"}}</th>
                    <td>
                        {{layout handle="gunbroker_email_item_shipping_class_costs" shipping_class_costs=$item.shippingClassCosts area="frontend"}}
                    </td>
                </tr>
                {{/depend}}
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
