<!-- ko if: ($col.getLabel($row()) == "SUCCESS") -->
<span class='grid-severity-notice'><!-- ko i18n: 'SUCCESS' --><!-- /ko --></span>
<!--/ko-->
<!-- ko if: ($col.getLabel($row()) == "FAILURE") -->
<span class='grid-severity-critical'><!-- ko i18n: 'FAILURE' --><!-- /ko --></span>
<!--/ko-->