<?php

declare(strict_types=1);

use Magento\Framework\Escaper;
use Reeds\GunBroker\Block\Adminhtml\Order\View\Item\GunBrokerOrderItemFeedback;

/** @var GunBrokerOrderItemFeedback $block */
/** @var Escaper $escaper */

$buyerFeedback = $block->getGunBrokerOrderItemFeedback('buyer');
$sellerFeedback = $block->getGunBrokerOrderItemFeedback('seller');
?>
<tr>
    <td colspan="4" style="padding-top: 0;">
        <?php if ($buyerFeedback !== null): ?>
            <?= $block->getBuyerFeedbackHtml() ?>
        <?php else: ?>
            <?= $escaper->escapeHtml(__('The buyer has not provided feedback for this order yet.')) ?>
        <?php endif; ?>
    </td>
    <td colspan="4" style="padding-top: 0;">
        <?php if ($sellerFeedback !== null): ?>
            <?= $block->getSellerFeedbackHtml() ?>
        <?php else: ?>
            <?php if ($block->isSaveFeedbackAllowed()): ?>
                <button
                    type="button"
                    id="open-gunbroker-seller-feedback-modal"
                    name="open_gunbroker_seller_feedback_modal"
                    class="action-tertiary"
                    style="padding:0;"
                    data-mage-init='
{
  "Magento_Ui/js/form/button-adapter": {
    "actions": [
      {
        "targetName": "gunbroker_seller_feedback_form.gunbroker_seller_feedback_form.gunbroker_seller_feedback_modal",
        "actionName": "setItemIds",
        "params": [<?= /* @noEscape */ $block->getItem()->getItemId() .  ', ' . $block->getGunBrokerItemId() ?>]
      },
      {
        "targetName": "gunbroker_seller_feedback_form.gunbroker_seller_feedback_form.gunbroker_seller_feedback_modal",
        "actionName": "toggleModal"
      }
    ]
  }
}
                    '>
                    <span><?= $escaper->escapeHtml(__('Add Seller Feedback')) ?></span>
                </button>
            <?php endif; ?>
        <?php endif; ?>
    </td>
    <td colspan="2">&nbsp;</td>
</tr>
