<?php

declare(strict_types=1);

use Magento\Framework\Escaper;
use Reeds\GunBroker\Block\Adminhtml\System\Config\Form\Field\GunBrokerUserId;

/** @var GunBrokerUserId $block */
/** @var Escaper $escaper */

$userId = $block->getConfiguredUserId();
?>
<?php if ($userId === null): ?>
<button type="button" id="gunbroker-get-api-user-id-button"<?php if (!$block->isButtonEnabled()): ?> disabled<?php endif;?>>
    <span><?= $escaper->escapeHtml(__('Get User ID')) ?></span>
</button>
<?php endif; ?>

<span id="gunbroker-user-id" style="font-weight:bold;<?php if ($userId === null): ?>display:none<?php endif; ?>"><?= $escaper->escapeHtml($userId ?? '') ?></span>

<script type="text/x-magento-init">
{
    "*": {
        "Reeds_GunBroker/js/get-api-user-id": {
            "request_url": "<?= $escaper->escapeUrl($block->getAjaxRequestUrl()) ?>"
        }
    }
}
</script>
