.admin__field-gunbroker-rows {
    .admin__dynamic-rows .admin__control-select {
        width: 100%;
    }

    + .admin__field-gunbroker-use-default {
        margin-top: -3rem;
    }
}

.admin__field-gunbroker-datetime ._has-datepicker.admin__control-text {
    width: 20rem;
}
