<?php

use Magento\Framework\View\Element\Template;
use Reeds\GunBroker\ViewModel\ItemShippingClassCosts;

/** @var Template $block */

$shippingClassCosts = $block->getData('shipping_class_costs');

if (empty($shippingClassCosts)):
    return;
endif;

/** @var ItemShippingClassCosts $viewModel */
$viewModel = $block->getData('item_shipping_class_costs_view_model');

$viewModel->setShippingClassCosts($shippingClassCosts);
?>
<ul type="none" style="padding:0">
    <?php foreach ($viewModel->getFormattedShippingClassCosts() as $shippingClassCost): ?>
    <li style="margin-bottom:0"><strong><?= $shippingClassCost['label'] ?>:</strong> <?= $shippingClassCost['amount'] ?></li>
    <?php endforeach; ?>
</ul>
